@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-size: 15px;
    background-color: rgba(100, 19, 128, 0.2);
    display: flex;
    justify-content: center;
}

form {
    background-color: rgba(100, 19, 128, 0.27);
    margin: 30px;
    width: 500px;
}

form input {
    border: 0px solid black;
    height: 1.5em;
    border-radius: 5px;
}

.form__title {
    font-weight: 600;
    padding: 20px 15px;
    font-size: 20px;
}

.form__label {
    padding: 5px 20px;
    font-weight: 300;
    font-size: 16px;
}

.form__input-group {
    padding: 10px 30px;
}
.form__input-group-height {
    display: flex;
}
.form__input-group__units {
    padding-left: 5px;
}

.form__submit {
    margin: 20px 20px;
    font-size: 15px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    background-color: #ededed;
}
.form__submit:hover {
    background-color: #bfbfbf;
}